<a href="<%= user_path(current_user) %>">
  <%= gravatar_for @user || current_user, size: 52 %>
</a>
<h1>
  <%= @user ? @user.name : current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", @user || current_user %>
</span>
<span>
  <% if @user %>
    <span><b>Microposts:</b> <%= @user.microposts.count %></span>
  <% else %>
    <%= pluralize(current_user.microposts.count, "micropost") %>
  <% end %>
</span>
